html, body {
    height: 99%;
    width: 99%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    flex-direction: column;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

section {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#form {
    width: 250px;
}

label, input {
    margin-bottom: 15px;
}

div#botoes {
    width: 400px;
}

input[type="button"] {
    margin-bottom: 10px;
}

div > p {
    margin: 5px;
}

footer {
    color: white;
    font-style: italic;
}