html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    flex-direction: column;
}

h1 {
    color: white;
    margin-bottom: 15px;
}

section {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#form {
    width: 250px;
}

input[type="number"] {
    margin-bottom: 15px;
}

footer {
    color: white;
    font-style: italic;
}